$block-size = 272px;
$box-shadow = 2px 4px 18px 1px rgba(0,0,0,0.39);
$margin = 5px;

.block__1 
	float: left;
	width: $block-size * 2;
	height: $block-size;
	margin-top: $margin * 2;
	margin-left: $margin * 2;
	margin-right: $margin;
		
	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size * 2;
		height: $block-size;
			
.block__1:hover .block__1_cover 
	display: none;

.block__1:hover .block__1_hover 
	display: block;			

.block__2 
	float: left;
	width: $block-size;
	height: $block-size;
	margin-top: $margin * 2;
	margin-left: $margin * 2;
	
	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size;
		height: $block-size;
	
.block__2:hover .block__2_cover 
	display: none;

.block__2:hover .block__2_hover 
	display: block;

	

.block__3 
	float: right;
	width: $block-size;
	height: $block-size * 2;
	margin-top: $margin * 2;
	margin-right: $margin * 2;
		
	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size;
		height: $block-size * 2;

.block__3:hover .block__3_cover 
	display: none;

.block__3:hover .block__3_hover 
	display: block;


.block__4 
	float: left;
	width: $block-size;
	height: $block-size;
	margin-top: $margin * 2;
	margin-left: $margin * 2;
	margin-right: $margin;

	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size;
		height: $block-size;
			
.block__4:hover .block__4_cover 
	display: none;

.block__4:hover .block__4_hover
	display: block;		


.block__5 
	float: left;
	width: $block-size * 2;
	height: $block-size * 2;
	margin-top: $margin * 2;
	margin-left: $margin * 2;
	margin-right: $margin;

	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size * 2;
		height: $block-size * 2;
		
.block__5:hover .block__5_cover
	display: none;
	
.block__5:hover .block__5_hover
	display: block;			


.block__6 
	float: right;
	width: $block-size;
	height: $block-size;
	margin-top: $margin * 4;
	margin-right: $margin * 2;
		
	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size;
		height: $block-size;
			
.block__6:hover .block__6_cover
	display: none;

.block__6:hover .block__6_hover
	display: block;

.block__7 
	width: $block-size;
	height: $block-size;
	margin-top: 574px;
	margin-left: $margin * 2;
	margin-right: $margin;
	position: absolute;
		
	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size;
		height: $block-size;
			
.block__7:hover .block__7_cover
	display: none;
	
.block__7:hover .block__7_hover
	display: block;


.block__8 
	float: left;
	width: $block-size * 2;
	height: $block-size;;
	margin-left: $margin * 2;
		
	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size * 2;
		height: $block-size;
			
.block__8:hover .block__8_cover
	display: none;

.block__8:hover .block__8_hover
	display: block;

.block__9 
	float: right;
	width: $block-size * 2;
	height: $block-size * 2;
	margin-right: $margin * 2;
		
	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size * 2;
		height: $block-size * 2;
			
.block__9:hover .block__9_cover 
	display: none;

.block__9:hover .block__9_hover 
	display: block;

.block__10 
	width: $block-size * 2;
	height: $block-size;
	margin-top: 284px;
	margin-left: $margin * 2;
	position: absolute;
	
	&_hover 
		box-shadow: $box-shadow;
		display: none;
		width: $block-size * 2;
		height: $block-size;
			
.block__10:hover .block__10_cover
	display: none;

.block__10:hover .block__10_hover
	display: block;