body {
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

.clearfix {
  clear: both;
}

/* for pixel perfect adaptation
.mockup {
  width: 1150px;
  height: 1435px;
  position: absolute;
  background: url("../img/project_hovered.jpg") no-repeat;
  opacity: 0.5;
  margin: 0 100px;
  display: none;
}
*/