/** About Block**/

$font-size = 12px
$line-height = 1.4
$lines-to-show = 3

.about {
  border-top: 1px solid $grey;
  padding: 15px 0px 15px 0px;
  font-size: 12px;
  background-color: $creamy;

  &__wrapper {
    width: 960px;
    margin: 0 auto;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &-block {


    &__description{
      ellipsys($font-size,$line-height,6)

    }


    &__title {
      margin-bottom: 15px;

    }

    &__author {
      font-style: italic;
      padding-top:10px;
    }



    &-item {
      display: inline-block;
      margin-bottom:10px;
      height: 50px;
      overflow:hidden;
      &__title {
        font-size:12px;
        margin:0 0 5px 0;
      }

      &__date {
        width: 30px;
        height: 30px;
        text-align: center;
        float: left;
        background-color: #57c5a0;
        color: #fff;
        margin-right: 10px;
        padding:5px 5px 5px 5px;
      }
    }

    &_small {
      width: 220px;
      height: 195px;
      margin: 0 20px 20px 0px;
      position: relative;
      float: left;
      background-color: #DFDBD4;
      box-sizing: border-box;
      padding: 10px 10px 10px 10px;
      overflow: hidden;
    }

     &_big {
       width: 480px;
       height: 195px;
       //margin: 0px 0px 0px 10px;
       position: relative;
       float: right;
       background-color: #DFDBD4;
       box-sizing: border-box;
       padding: 10px 10px 10px 10px;
       overflow: hidden;
     }
  }

}

