.filters
  float: right;
  margin-top: 25px;
  height: 40px;


  &-group
    position relative
    float right
    margin-left 20px
    width 100px

    &_active
      .filters-group-list
        display block

    &__title
      display block
      margin 0
      width: 100px;
      background white
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;

    &-list
      list-reset()
      display none
      z-index 10
      position absolute
      top 100%
      left 0
      min-width 100px
      background white
      box-shadow 11px 9px 34px -15px rgba(0,0,0,0.75)

      &-item
        cursor pointer
        position: relative
        padding 5px
        border-top 1px solid $creamy

        &:hover
          background $green
          color white


.selected
  background $green
  color white

  &:hover
    background: $grey2

    &:after
      content "x"
      position absolute
      right 5px

.active
  background $green
  color white