.filters
  top 100%
  width 100%
  height 150px


  &-group
    float left
    width 200px
    height 150px

    &__title
      margin 5px

    &-list
      list-reset()

      &-item a
        text-decoration none
        color black


.checked
  font-weight 900