.header {
  height: 45px;
  background-color: $black;

  &-wrapper {
    width: 960px;
    margin: 0 auto;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &-logo {
    display: inline-block;
    float: left;
    width: 156px;
    height: 45px;
    vertical-align: middle;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    &__image {
      vertical-align: middle;
    }
  }

  &__search {
    float: right;
    width: 14px;
    height: 14px;
    margin: 15px 20px 0 0;
    background: url('../img/header/search-icon.png') no-repeat;
    cursor: pointer;
  }

  &-auth {
    float: right;
    max-width: 250px;
    height: 45px;
    padding: 0 10px;
    border-left: 1px solid $grey2;
    border-right: 1px solid $grey2;
    font-size: 14px;
    text-align: center;
    color: $grey2;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    &__link {
      text-decoration: none;
      color: $grey2;

      &:hover {
        color: $grey;
      }
    }
  }
}