.pagination {
  height: 70px;
  text-align:center;

  &-page {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    background: #fff;
    text-align: center;
    line-height:30px;

    &_active {
      background: $green;
      color: white;
    }

    &:hover {
      background: $green;
      color: white;
    }
  }
}