.background {
	background-image: url("../img/top_unit/bg.png");
	background-size: 100% 100%;
	
	@media screen and (max-width: 620px) {
	display: none;
  }
	
}

.slider {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;

  &-wrapper {
    width: 9999px;
    transition: left 600ms linear;
    position: relative;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.slide {
	float: left;
	width: 960px;
	height: 460px;
	position: relative;
	overflow: hidden;
}

.cover {
	display: block
	position: relative
	font-color: #242424
	
	&__image {
		width: 50%
		height: 100%
		float: left
	}
	
	&__right-side {
		width: 50%
		height: 100%
		float: right
		margin-right: -8%
	
		&_content {
			margin-right: 50%
			margin-top: 7%
		}
	}
}	

.price {
	width: 70px
	height: 70px
	padding: 0 5px
	background-color: #57c5a0

	&__value {
		color: white
		text-align: center
		padding-top: 30px	
		overflow: hidden 
		text-overflow: ellipsis
	}
}	

.action-menu {
	margin-left: -19%

	&__icon {
		display: inline-block
		cursor: pointer
		background-image: url('../img/top_unit/spritesheet.png')
		background-color: #faf9f9
		width: 40px
		height: 40px
		margin-left: 4px
		
		&_view {
			background-position: -5px -55px
		}
		
		&_wishlist {
			background-position: -55px -55px
		}
		
		&_share {
			background-position: -55px -5px
		}
		
		&_buy {
			background-position: -5px -5px
		}
		
		&:hover {
			box-shadow: 0 0 1px 1px #57c5a0
		}
	}
}	
			
@media screen and (max-width: 768px) {
	.cover__right-side {
		position:absolute
		margin-left: 10%
	}
}