.specials
  padding 25px 0
  background-color: $darkest-grey;

  &-wrapper {
    width: 960px;
    margin: 0 auto;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &-list
    list-style-type none
    margin 0 auto
    width 960px
    height 180px
    padding 0
    text-align justify

    &:after {
      content ''
      display inline-block
      width 100%
    }

    &-item
      display inline-block
      position relative
      width 300px
      height 180px
      overflow hidden

      &_on-sale
        background url('../img/specials/img1.png')
        background-position: center

      &_special-offers
        background url('../img/specials/img2.png')
        background-position: center

      &_must-have
        background url('../img/specials/img3.png')
        background-position: center

      &-link
        position absolute
        width 100%
        height 100%
        text-align center
        text-decoration none
        text-transform uppercase
        color white

        &:after
          content ''
          display inline-block
          width 0
          height 100%
          vertical-align middle

        &:hover
          .specials-list-item-link__title
            background-color $colorDarkBackground

        &__title
          display: inline-block
          margin 30px
          padding 15px
          background-color rgba(0,0,0,0.6)
          vertical-align: middle
          transition background-color 0.2s