@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic)

$fontLato = 'Lato', sans-serif
$fontBase = 16px
$fontMedium = 1.2em
$fontSmall = 0.8em

$colorRed = #d13f34
$colorGrey = #ccc

$cellSize = 275px
$cellMargin = 5px

$buttonWidth = $cellSize * 0.5
$buttonHeight = 30px
$buttonPadding = 40px
$buttonColor = $colorRed

