$colorRed = #d13f34
$colorGrey = #ccc

$cellSize = 275px
$cellMargin = 5px

$buttonWidth = $cellSize * 0.5
$buttonHeight = 30px
$buttonPadding = 40px
$buttonColor = $colorRed

$fontBase = 16px
$fontMedium = 1.2em
$fontSmall = 0.8em

