.section {

  &__container {
    width: 960px;
    margin: 0 auto;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &_black {
    background-color: $black;
  }

  &_white {
    background-color: $white;
  }

  &_darkest-grey {
    background-color: $darkest-grey;
  }

  &_dark-grey {
    background-color: $dark-grey;
  }

  &_creamy {
    background-color: $creamy;
  }
}



.grid-container {
  width: 960px;
  margin: 0 auto;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}