@media screen and (max-width: 960px) { // for screens less then 960px wide

  .grid-container {
    width: 640px;
  }

  .product-item:nth-child(3n) { // return right margin to every 3rd product item
    margin-right: 30px;
  }

  .product-item:nth-child(2n) { // remove right margin from every 2nd product item
    margin-right: 0;
  }

  .navigation-menu__item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 640px) { // for screens less then 640px wide
  .grid-container {
    width: 320px;
  }

  .header {

    &__logo {
      width: 100%;
      background-position: center;
    }

    &-auth {
      width: 100%;
      border: none;
    }

    &__search {
      display: none;
    }
  }

  .navigation-menu {
    display: none;

    &__responsive {
      display: block;
    }
  }

  .products {
    &-header {
      height: 120px;

      &__title {
        float: none;
        text-align: center;
        line-height: 60px;
      }

      &__action {
        margin: 0 auto 10px;
        float: none;
      }
    }
  }

  .product-item {
    margin: 0 0 20px 0;
  }
}