@media screen and (max-width: 640px) { // for screens less then 640px wide
  .header {

    &-auth {
      width: 100%;
      border: none;
    }

    &__search {
      display: none;
    }
  }

  .products {
    &-header {
      height: 120px;

      &__title {
        float: none;
        text-align: center;
        line-height: 60px;
      }

      &__action {
        margin: 0 auto 10px;
        float: none;
      }
    }
  }
}