@media screen and (max-width: 960px) { // for screens less then 960px wide
  .grid-container {
    width: 640px;
  }

  .navigation-menu__item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 640px) { // for screens less then 640px wide
  .grid-container {
    width: 320px;
  }

  .header {

    &-auth {
      width: 100%;
      border: none;
    }

    &__search {
      display: none;
    }
  }

  .navigation-menu {
    display: none;
  }

  .products {
    &-header {
      height: 120px;

      &__title {
        float: none;
        text-align: center;
        line-height: 60px;
      }

      &__action {
        margin: 0 auto 10px;
        float: none;
      }
    }
  }
}