
.block__1 
	float: left;
	width: 554px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
		
	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 554px;
		height: 272px;
			
.block__1:hover .block__1_cover 
	display: none;

.block__1:hover .block__1_hover 
	display: block;			

.block__2 
	float: left;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;
	
	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 272px;
		height: 272px;
	
.block__2:hover .block__2_cover 
	display: none;

.block__2:hover .block__2_hover 
	display: block;

	

.block__3 
	float: right;
	width: 272px;
	height: 554px;
	margin-top: 10px;
	margin-right: 10px;
		
	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 272px;
		height: 554px;

.block__3:hover .block__3_cover 
	display: none;

.block__3:hover .block__3_hover 
	display: block;


.block__4 
	float: left;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;

	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 272px;
		height: 272px;
			
.block__4:hover .block__4_cover 
	display: none;

.block__4:hover .block__4_hover
	display: block;		


.block__5 
	float: left;
	width: 554px;
	height: 554px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;

	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 554px;
		height: 554px;
		
.block__5:hover .block__5_cover
	display: none;
	
.block__5:hover .block__5_hover
	display: block;			


.block__6 
	float: right;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-right: 10px;
		
	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 272px;
		height: 272px;
			
.block__6:hover .block__6_cover
	display: none;

.block__6:hover .block__6_hover
	display: block;

.block__7 
	width: 272px;
	height: 272px;
	margin-top: 574px;
	margin-left: 10px;
	margin-right: 5px;
	position: absolute;
		
	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 272px;
		height: 272px;
			
.block__7:hover .block__7_cover
	display: none;
	
.block__7:hover .block__7_hover
	display: block;


.block__8 
	float: left;
	width: 554px;
	height: 272px;;
	margin-left: 10px;
		
	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 554px;
		height: 272px;
			
.block__8:hover .block__8_cover
	display: none;

.block__8:hover .block__8_hover
	display: block;

.block__9 
	float: right;
	width: 554px;
	height: 554px;
	margin-right: 10px;
		
	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 554px;
		height: 554px;
			
.block__9:hover .block__9_cover 
	display: none;

.block__9:hover .block__9_hover 
	display: block;

.block__10 
	width: 554px;
	height: 272px;
	margin-top: 284px;
	margin-left: 10px;
	position: absolute;
	
	&_hover 
		box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
		display: none;
		width: 554px;
		height: 272px;
			
.block__10:hover .block__10_cover
	display: none;

.block__10:hover .block__10_hover
	display: block;