
.block__1 
	float: left;
	width: 554px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;

        &:hover 
        	&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 272px;

.block__2 
	float: left;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;

		&__2:hover 
			&_cover 
			display: none;
		
		&__2:hover
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 272px;

.block__3 
	float: right;
	width: 272px;
	height: 554px;
	margin-top: 10px;
	margin-right: 10px;
	
		&:hover 
			&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 554px;

.block__4 
	float: left;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;

		&:hover 
			&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
			
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 272px;

.block__5 
	float: left;
	width: 554px;
	height: 554px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;

		&:hover 
			&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 554px;

.block__6 
	float: right;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-right: 10px;

		&:hover
			&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 272px;

.block__7 
	width: 272px;
	height: 272px;
	margin-top: 574px;
	margin-left: 10px;
	margin-right: 5px;
	position: absolute;

		&:hover 
			&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 272px;


.block__8 
	float: left;
	width: 554px;
	height: 272px;;
	margin-left: 10px;

		&:hover 
			&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 272px;

.block__9 
	float: right;
	width: 554px;
	height: 554px;
	margin-right: 10px;

		&:hover 
			&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 554px;

.block__10 
	width: 554px;
	height: 272px;
	margin-top: 284px;
	margin-left: 10px;
	position: absolute;
	
		&:hover 
			&_cover 
			display: none;
		
		&:hover 
			&_hover 
			display: block;
		
		&_hover 
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 272px;