/* div hover */
.item 
	width: 270px;
	height: 270px;
	position: relative;
	margin: 0 auto;

	&__image 
		float: left;	
		width: 48%;
		height: 160px;
		
	&__description 
		float: right;
		width: 48%;
		height: 160px;

			&_sale 
				color: #f00;
	
	&__button-add 
		text-align: center;
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
	
	&__see-more 
	  	text-align: center;
	  	text-decoration: none;
	  	position: relative;


.button_style 
 	color: #000;
 	font-size: 15px;
 	background: #fff;
  	padding: 10px 20px 10px 20px;
  	border: solid #000 1px;

/* special div hover item 5,9 */

.item_9 {
	top: 30%;
}

.item__image_5, .item__image_9, .item__image_10 {
	margin-left: -50px;
}

.item__button-add_9, .item__see-more_9 {
	top: 30px;
}