.product__specification 
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	height: 80px;
	color: #fff;
	top: 201px;
	width: 272px;
	text-align: right;
	font-size: 15px;


		&_item-1 
			width: 554px;

		&_item-3, &_item-4 
			top: 484px;	

		&_item-5 
			top: 765px;
			width: 554px;	

		&_item-6 
			top: 765px;

		&_item-7 
			top: 192px;
			width: 272px;	

		&_item-8, &_item-10 
			top: 192px;
			width: 554px;

		&_item-9 
			top: 474px;
			width: 554px;	

		&_left 
			position: relative;
			float: left;

		&_right 
			position: relative;
			float: right;	