$colorTheme = #57C5A0

$paddingLayout = 4%

$white = #fff;
$black = #000;

$grey = #ccc;
$grey2 = #7a7a7a;
$dark-grey = #2e2e2e;
$darkest-grey = #242424;
$footer-text-color = #a4a4a4;
$footer-title-color = #6b6b6b;
$twitter-widget-link-color = #57C5A0;

$creamy = #ecece8;

$red = #c91000;
$green = #57c5a0;