<div class="background">
    <div class="slider">
        <div class="slider-wrapper">
            <div class="slide">
                <div class="cover__image">
                    <img src="img/slides/top_1.png"></img>
                </div>
                <div class="cover__right-side">
                    <div class="cover__right-side_content">
                        <div class="price">
                            <p class="price__value">$145.99</p>
                        </div>
                        <div class="cover__right-side_content-descriprion">
                            <h1 class="cover__right-side_title">Pink Shoes<br>2013 Collection</h1>
                            <p class="cover__right-side_description">Nunc non fermentum nunc. Sed ante ut eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget...</p>
                        </div>
                        <ul class="action-menu">
                            <li class="action-menu__icon action-menu__icon_view">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_wishlist">
                                 <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_share">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_buy">
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="cover__image">
                    <img src="img/slides/top_2.png"></img>
                </div>
                <div class="cover__right-side">
                    <div class="cover__right-side_content">
                        <div class="price">
                            <p class="price__value">$199.99</p>
                        </div>
                        <div class="cover__right-side_content-descriprion">
                            <h1 class="cover__right-side_title">Ann Field<br>Limited Edition</h1>
                            <p class="cover__right-side_description">Ann Field’s award winning collages and bright illustrations are universally recognized to inspire.</p>
                        </div>
                        <ul class="action-menu">
                            <li class="action-menu__icon action-menu__icon_view">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_wishlist">
                                 <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_share">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_buy">
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="cover__image">
                    <img src="img/slides/top_3.png"></img>
                </div>
                <div class="cover__right-side">
                    <div class="cover__right-side_content">
                        <div class="price">
                            <p class="price__value">$349.99</p>
                        </div>
                        <div class="cover__right-side_content-descriprion">
                            <h1 class="cover__right-side_title">Prada<br>Summer is coming</h1>
                            <p class="cover__right-side_description">Beautifully structured in a dome silhouette, this petite satchel features luxe metallic Saffiano calf leather and an optional strap for wearing crossbody.</p>
                        </div>
                        <ul class="action-menu">
                            <li class="action-menu__icon action-menu__icon_view">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_wishlist">
                                 <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_share">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_buy">
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="cover__image">
                    <img src="img/slides/top_4.png"></img>
                </div>
                <div class="cover__right-side">
                    <div class="cover__right-side_content">
                        <div class="price">
                            <p class="price__value">$899.49</p>
                        </div>
                        <div class="cover__right-side_content-descriprion">
                            <h1 class="cover__right-side_title">Casadei<br>All colors avaliable</h1>
                            <p class="cover__right-side_description">Iconic 'Blade' pointed toe pump in white supple nappa with silver laminated leather piping.</p>
                        </div>
                        <ul class="action-menu">
                            <li class="action-menu__icon action-menu__icon_view">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_wishlist">
                                 <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_share">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_buy">
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="cover__image">
                    <img src="img/slides/top_5.png"></img>
                </div>
                <div class="cover__right-side">
                    <div class="cover__right-side_content">
                        <div class="price">
                            <p class="price__value">$89.99</p>
                        </div>
                        <div class="cover__right-side_content-descriprion">
                            <h1 class="cover__right-side_title">Mellow Yellow<br>Free delivery</h1>
                            <p class="cover__right-side_description">Sandale plate multibrides en cuir verni blanc. Brides en cuir verni blanc. Double fermetures à boucles argentées</p>
                        </div>
                        <ul class="action-menu">
                            <li class="action-menu__icon action-menu__icon_view">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_wishlist">
                                 <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_share">
                                <a href="#"></a>
                            </li><li class="action-menu__icon action-menu__icon_buy">
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>   

<div class="slider-nav">
    <div class="slider-nav-wrapper">
        <div class="nav__position">
            <ul class="menu-block" id="js-menu">
                <li class="menu-block__item" data-slide="0">
                    <div class="menu-block__item_description">
                        <h1 class="menu-block__item_title">Pink Shoes</h1>
                        <h2 class="menu-block__item_specification">Now af $145,99</h2>
                    </div>
                </li>
                <li class="menu-block__item" data-slide="1">
                    <div class="menu-block__item_description">
                        <h1 class="menu-block__item_title">Ann Fiend</h1>
                        <h2 class="menu-block__item_specification">Limited Edition</h2>
                    </div>
                </li>
                <li class="menu-block__item" data-slide="2">
                    <div class="menu-block__item_description">
                        <h1 class="menu-block__item_title">Prada</h1>
                        <h2 class="menu-block__item_specification">Summer is coming</h2>
                    </div>
                </li>
                <li class="menu-block__item" data-slide="3">
                    <div class="menu-block__item_description">
                        <h1 class="menu-block__item_title">Casadei</h1>
                        <h2 class="menu-block__item_specification">All Colors avaliable</h2>
                    </div>
                </li>
                <li class="menu-block__item" data-slide="4">
                    <div class="menu-block__item_description">
                        <h1 class="menu-block__item_title">Mellow Yellow</h1>
                        <h2 class="menu-block__item_specification">Free delivery</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="specials">
    <div class="specials-wrapper">
            <ul class="specials-list">
                <li class="specials-list-item specials-list-item_on-sale">
                    <a href="#" class="specials-list-item-link"><span class="specials-list-item-link__title">on sale</span></a>
                </li>
                <li class="specials-list-item specials-list-item_special-offers">
                    <a href="#" class="specials-list-item-link"><span class="specials-list-item-link__title">special offers</span></a>
                </li>
                <li class="specials-list-item specials-list-item_must-have">
                    <a href="#" class="specials-list-item-link"> <span class="specials-list-item-link__title"> must have </span></a>
                </li>
            </ul>
    </div>
</div>


<div class="products">
    <div class="products-wrapper">
        <div class="products-header">
            <div class="products-header__title">Choose your shoes</div>
            <div class="products-header__action">Show All</div>
        </div>

        <ul class="products-container"></ul>
    </div>
</div>


<div class="about">
    <div class="about-wrapper"></div>
</div>
