<div class="products">
    <div class="products-wrapper">
        <div class="products-header">
            <div class="products-header__title">Choose your shoes</div>
            <div class="filters">

            </div>
        </div>

        <ul class="products-container"></ul>
    </div>

    <div class="pagination">

    </div>
</div>