$block-size = 272px

.defenition
	position: absolute
	background-color: rgba(0, 0, 0, 0.4)
	height: 80px
	color: #fff
	top: 191px
	width: $block-size *2
	text-align: left
	font-size: 15px
	border-style: none
	padding-left: 25px

	&__left 
		position: relative
		float: left

	&__right 
		right: 40px
		position: relative
		float: right
	&_top
		top: 465px

