.item 
	width: 250px
	height: 272px
	position: relative
	margin: 0 auto

	&__image
		float: left	
		width: 48%
		right: 10px
	  	
	&__description
		float: right
		width: 46%
		left: 20px
		
	&__right
		float: right
	
	&__left
		float:left
		
	&__top
		top: 140px
		
.price
	position: relative
	
	&__regular
		font-weight: bold

	&__sale
		color: red
		
.see-more
	text-decoration: none
	left: 90px
	bottom: 40px
	position: relative
  	


