.item__see-more
	text-decoration: none
  	bottom: 50px
	left: 90px

.item 
	width: 250px
	height: 272px
	position: relative
	margin: 0 auto

	&__image
		float: left	
		width: 48%
	  	
	&__description
		float: right
		width: 46%
		
.price
	position: relative
	
	&__regular
		font-weight: bold

	&__sale
		color: red
  	


