<div class="products-header__title">Choose your shoes</div>
<div class="filters">
    <input {{#if sale_only}}checked{{/if}} type="checkbox" class="filters__checkbox filters__checkbox_sale" value="sale_only">on sale
    <input {{#if priced_first}}checked{{/if}} type="checkbox" class="filters__checkbox filters__checkbox_cheaper_first" value="priced_first">low-priced first
</div>