@import "../variables/variables.scss";

@mixin default-preview-info() {
  font-size: $preview-font-size;
  font-style: oblique;
  color: white;
  position: absolute;
  width: 84%;
  padding-left: 8%;
  padding-right: 8%;
  bottom: 0;
  height: 73px;
  background-color: rgba(0,0,0,0.2);
}

@mixin description-positioning() {
  position: absolute;
  opacity: 0;
  margin: 0;
  left: -4px;
  top: -3px;
}

@mixin button() {
  padding: 4px 32px;
  border: 1px solid rgba(50,50,50,0.2);
  cursor: pointer;
  width: $button-width;
  margin: 0 auto;
}

@mixin additional-info {
  font-size: 9px;
  margin-top: 5px;
  text-align: center;
}

@mixin description-info-style {
  font-size: $desc-font-size;
  font-family: 'trebuchet ms', verdana, arial;
  position: absolute;
  max-width: 30%;
  color: $desc-text-color;
  left: 50%;
}