<div class="about-block_small">
    <h2 class="about-block__title" > Free sheeping </h2>
    <div class="about-block__description">
        Lorem ipsum dolor sit amet, ea usu alterum propriae elaboraret, vis congue epicurei electram ea. Lorem etiam vel ex, at nam zril adipisci. Nam cu rebum impedit consequat, eu pri nibh epicurei. An doctus abhorreant mel, at eam iusto facete.
    </div>
</div>

<div class="about-block_small">
    <h2 class="about-block__title">  Testimonial </h2>
    <div class="about-block__ellipsis">
        <div class="about-block__description">Lorem ipsum dolor sit amet, ea usu alterum propriae elaboraret, vis congue epicurei electram ea. Lorem etiam ve
            l ex, at nam zril adipisci. Nam cu rebum impedit consequat,
            eu pri nibdsfsdfsdffewrwerwerwerh eipisci. Nam cu rebum impedit consequat,
            eu pri nibdsfsdfsdffewrwerwerwerh epiipisci. Nam cu rebum impedit consequat,
            eu pri nibdsfsdfsdffewrwerwerwerh epipicurei. An doctus abhorreant m
            el, at eam iusto facete.
        </div>
    </div>
    <div class="about-block__author">
        -Vasya Pupkin-
    </div>
</div>

<div class="about-block_big">
    <h2 class="about-block__title"> Blog News </h2>
    {{#each items}}
        <div class="about-block-item">
            <div class="about-block-item__date">
                {{date}}
            </div>
            <h2 class="about-block-item__title"> {{title}} </h2>
            <div class="about-block-item__description"> {{excerpt}} </div>
        </div>
    {{/each}}
</div>