<a href="#" class="header-auth__link">Login</a> or <a href="#" class="header-auth__link">Register</a>
<div class="log-in-popup">
    <div class="log-in-popup-content">
        <form class="log-in-form">
            <div class="name-field">
                <input class="input" type="text" placeholder="Username" />
            </div>
            <div class="password-field">
                <input class="input" type="password" placeholder="Password" />
            </div>
            <input class="submit-button" type="button" value="submit"/>
        </form>
    </div>
</div>