// Variables
@import "base/variables.styl";

// Base
@import "base/typography.styl";
@import "base/normalize.styl";
@import "base/base.styl";

// Layout
@import "layout/grid.styl";

// Blocks
@import "blocks/switcher";
@import "blocks/product";
@import "blocks/button";