body {
  width: 1148px;
  margin: 0 auto; }

.container-item {
  position: relative;
  margin: 8px;
  display: inline-block; }
  .container-item_h1w1 {
    height: 272px;
    width: 272px; }
    .container-item_h1w1_state_preview-info {
      font-size: 15px;
      font-style: oblique;
      color: white;
      position: absolute;
      width: 95%;
      padding-left: 5%;
      bottom: 0;
      height: 73px;
      background-color: rgba(0, 0, 0, 0.2); }
      .container-item_h1w1_state_preview-info__price {
        font-weight: bold; }
    .container-item_h1w1_state_description {
      position: absolute;
      opacity: 0;
      margin: 0;
      left: -4px;
      top: -3px; }
      .container-item_h1w1_state_description:hover {
        opacity: 1; }
      .container-item_h1w1_state_description-add-to-cart {
        position: absolute;
        bottom: 12%;
        left: 15%; }
        .container-item_h1w1_state_description-add-to-cart__button {
          padding: 4px 32px;
          border: 1px solid rgba(50, 50, 50, 0.2);
          cursor: pointer;
          max-width: 200px; }
        .container-item_h1w1_state_description-add-to-cart__additional {
          font-size: 9px;
          margin-top: 5px;
          text-align: center; }
      .container-item_h1w1_state_description-info {
        font-size: 15px;
        font-family: 'trebuchet ms', verdana, arial;
        position: absolute;
        max-width: 30%;
        color: #000000;
        top: 18%;
        left: 52%; }
        .container-item_h1w1_state_description-info__price {
          font-size: 12px; }
  .container-item_h2w1 {
    height: 554px;
    width: 272px; }
    .container-item_h2w1_state_preview-info {
      font-size: 15px;
      font-style: oblique;
      color: white;
      position: absolute;
      width: 95%;
      padding-left: 5%;
      bottom: 0;
      height: 73px;
      background-color: rgba(0, 0, 0, 0.2); }
      .container-item_h2w1_state_preview-info__price {
        font-weight: bold; }
    .container-item_h2w1_state_description {
      position: absolute;
      opacity: 0;
      margin: 0;
      left: -4px;
      top: -3px; }
      .container-item_h2w1_state_description:hover {
        opacity: 1; }
      .container-item_h2w1_state_description-add-to-cart_position_top {
        position: absolute;
        bottom: 55%;
        left: 15%; }
        .container-item_h2w1_state_description-add-to-cart_position_top__button {
          padding: 4px 32px;
          border: 1px solid rgba(50, 50, 50, 0.2);
          cursor: pointer;
          max-width: 200px; }
        .container-item_h2w1_state_description-add-to-cart_position_top__additional {
          font-size: 9px;
          margin-top: 5px;
          text-align: center; }
      .container-item_h2w1_state_description-info_position_top {
        font-size: 15px;
        font-family: 'trebuchet ms', verdana, arial;
        position: absolute;
        max-width: 30%;
        color: #000000;
        top: 12%;
        left: 53%; }
        .container-item_h2w1_state_description-info_position_top__price {
          font-size: 18px;
          color: #ff0000; }
      .container-item_h2w1_state_description-add-to-cart_position_bottom {
        position: absolute;
        bottom: 7%;
        left: 15%; }
        .container-item_h2w1_state_description-add-to-cart_position_bottom__button {
          padding: 4px 32px;
          border: 1px solid rgba(50, 50, 50, 0.2);
          cursor: pointer;
          max-width: 200px; }
        .container-item_h2w1_state_description-add-to-cart_position_bottom__additional {
          font-size: 9px;
          margin-top: 5px;
          text-align: center; }
      .container-item_h2w1_state_description-info_position_bottom {
        font-size: 15px;
        font-family: 'trebuchet ms', verdana, arial;
        position: absolute;
        max-width: 30%;
        color: #000000;
        top: 60%;
        left: 53%; }
        .container-item_h2w1_state_description-info_position_bottom__price {
          font-size: 18px;
          color: #ff0000; }
  .container-item_h1w2 {
    height: 272px;
    width: 554px; }
    .container-item_h1w2_state_preview-info {
      font-size: 15px;
      font-style: oblique;
      color: white;
      position: absolute;
      width: 95%;
      padding-left: 5%;
      bottom: 0;
      height: 73px;
      background-color: rgba(0, 0, 0, 0.2); }
      .container-item_h1w2_state_preview-info__price {
        font-weight: bold; }
      .container-item_h1w2_state_preview-info_position_left {
        max-width: 40%;
        text-align: center;
        float: left; }
        .container-item_h1w2_state_preview-info_position_left__price {
          font-weight: bold; }
      .container-item_h1w2_state_preview-info_position_right {
        padding-right: 5%;
        max-width: 40%;
        text-align: center;
        float: right; }
        .container-item_h1w2_state_preview-info_position_right__price {
          font-weight: bold; }
    .container-item_h1w2_state_description {
      position: absolute;
      opacity: 0;
      margin: 0;
      left: -4px;
      top: -3px; }
      .container-item_h1w2_state_description:hover {
        opacity: 1; }
      .container-item_h1w2_state_description-add-to-cart {
        position: absolute;
        bottom: 12%;
        left: 30%; }
        .container-item_h1w2_state_description-add-to-cart__button {
          padding: 4px 32px;
          border: 1px solid rgba(50, 50, 50, 0.2);
          cursor: pointer;
          max-width: 200px; }
        .container-item_h1w2_state_description-add-to-cart__additional {
          font-size: 9px;
          margin-top: 5px;
          text-align: center; }
        .container-item_h1w2_state_description-add-to-cart_position_left {
          position: absolute;
          bottom: 12%;
          left: 7%; }
          .container-item_h1w2_state_description-add-to-cart_position_left__button {
            padding: 4px 32px;
            border: 1px solid rgba(50, 50, 50, 0.2);
            cursor: pointer;
            max-width: 200px; }
          .container-item_h1w2_state_description-add-to-cart_position_left__additional {
            font-size: 9px;
            margin-top: 5px;
            text-align: center; }
        .container-item_h1w2_state_description-add-to-cart_position_right {
          position: absolute;
          bottom: 12%;
          left: 58%; }
          .container-item_h1w2_state_description-add-to-cart_position_right__button {
            padding: 4px 32px;
            border: 1px solid rgba(50, 50, 50, 0.2);
            cursor: pointer;
            max-width: 200px; }
          .container-item_h1w2_state_description-add-to-cart_position_right__additional {
            font-size: 9px;
            margin-top: 5px;
            text-align: center; }
      .container-item_h1w2_state_description-info {
        font-size: 15px;
        font-family: 'trebuchet ms', verdana, arial;
        position: absolute;
        max-width: 30%;
        color: #000000;
        top: 18%;
        left: 50%; }
        .container-item_h1w2_state_description-info__price {
          font-size: 12px; }
        .container-item_h1w2_state_description-info_position_left {
          font-size: 15px;
          font-family: 'trebuchet ms', verdana, arial;
          position: absolute;
          max-width: 30%;
          color: #000000;
          max-width: 25%;
          top: 18%;
          left: 25%; }
          .container-item_h1w2_state_description-info_position_left__price {
            font-size: 18px;
            color: #ff0000; }
        .container-item_h1w2_state_description-info_position_right {
          font-size: 15px;
          font-family: 'trebuchet ms', verdana, arial;
          position: absolute;
          max-width: 30%;
          color: #000000;
          max-width: 25%;
          top: 18%;
          left: 73%; }
          .container-item_h1w2_state_description-info_position_right__price {
            font-size: 18px;
            color: #ff0000; }
  .container-item_h2w2 {
    height: 554px;
    width: 554px; }
    .container-item_h2w2_state_preview-info {
      font-size: 15px;
      font-style: oblique;
      color: white;
      position: absolute;
      width: 95%;
      padding-left: 5%;
      bottom: 0;
      height: 73px;
      background-color: rgba(0, 0, 0, 0.2); }
      .container-item_h2w2_state_preview-info_position_left {
        max-width: 40%;
        text-align: center;
        float: left; }
        .container-item_h2w2_state_preview-info_position_left__price {
          font-weight: bold; }
      .container-item_h2w2_state_preview-info_position_right {
        padding-right: 5%;
        max-width: 40%;
        text-align: center;
        float: right; }
        .container-item_h2w2_state_preview-info_position_right__price {
          font-weight: bold; }
    .container-item_h2w2_state_description {
      position: absolute;
      opacity: 0;
      margin: 0;
      left: -4px;
      top: -3px; }
      .container-item_h2w2_state_description:hover {
        opacity: 1; }
      .container-item_h2w2_state_description-add-to-cart_position_top {
        position: absolute;
        bottom: 55%;
        left: 33%; }
        .container-item_h2w2_state_description-add-to-cart_position_top__button {
          padding: 4px 32px;
          border: 1px solid rgba(50, 50, 50, 0.2);
          cursor: pointer;
          max-width: 200px; }
        .container-item_h2w2_state_description-add-to-cart_position_top__additional {
          font-size: 9px;
          margin-top: 5px;
          text-align: center; }
      .container-item_h2w2_state_description-info {
        font-size: 15px;
        font-family: 'trebuchet ms', verdana, arial;
        position: absolute;
        max-width: 30%;
        color: #000000;
        bottom: 30%;
        left: 40%; }
        .container-item_h2w2_state_description-info_position_top {
          font-size: 15px;
          font-family: 'trebuchet ms', verdana, arial;
          position: absolute;
          max-width: 30%;
          color: #000000;
          top: 12%;
          left: 53%; }
          .container-item_h2w2_state_description-info_position_top__price {
            font-size: 13px; }
        .container-item_h2w2_state_description-info_position_bottom {
          font-size: 15px;
          font-family: 'trebuchet ms', verdana, arial;
          position: absolute;
          max-width: 30%;
          color: #000000;
          top: 60%;
          left: 53%; }
          .container-item_h2w2_state_description-info_position_bottom__price {
            font-size: 13px; }
        .container-item_h2w2_state_description-info__price {
          font-size: 18px;
          color: #ff0000; }
      .container-item_h2w2_state_description-add-to-cart_position_bottom {
        position: absolute;
        bottom: 7%;
        left: 33%; }
        .container-item_h2w2_state_description-add-to-cart_position_bottom__button {
          padding: 4px 32px;
          border: 1px solid rgba(50, 50, 50, 0.2);
          cursor: pointer;
          max-width: 200px; }
        .container-item_h2w2_state_description-add-to-cart_position_bottom__additional {
          font-size: 9px;
          margin-top: 5px;
          text-align: center; }

/*# sourceMappingURL=styles.css.map */
