$block-size: 272px;

@mixin default-preview-info() {
  font-size: 15px;
  font-style: oblique;
  color: white;
  position: absolute;
  width: 95%;
  padding-left: 5%;
  bottom: 0;
  height: 73px;
  background-color: rgba(0,0,0,0.2);
}

@mixin description-positioning() {
  position: absolute;
  opacity: 0;
  margin: 0;
  left: -4px;
  top: -3px;
}

@mixin button() {
  padding: 4px 32px;
  border: 1px solid rgba(50,50,50,0.2);
  cursor: pointer;
  width: 150px;
  margin: 0 auto;
}

@mixin additional-info {
  font-size: 9px;
  margin-top: 5px;
  text-align: center;
}

@mixin description-info-style {
  font-size: 15px;
  font-family: 'trebuchet ms', verdana, arial;
  position: absolute;
  max-width: 30%;
  color: #000000;
  left: 50%;
}

.sale-price {
  font-size: 18px;
  color: #ff0000;
}

.old-price {
  text-decoration: line-through;
}

body {
  width: 4*$block-size + 60;
  margin: 0 auto;
}

.item {
  position: relative;
  margin:  8px;
  display: inline-block;
  &_h1w1 {
    height: $block-size;
    width: $block-size;
  }

  &_h1w2 {
    height: $block-size;
    width: 2*$block-size + 10;
  }

  &_h2w1 {
    height: 2*$block-size + 10;
    width: $block-size;
  }

  &_h2w2 {
    height: 2*$block-size + 10;
    width: 2*$block-size + 10;
  }

  &_state_preview {
    opacity: 1;
    .item {
      &-info {
        @include default-preview-info();

        &_position_left {
          max-width: 40%;
          text-align: center;
          float: left;
        }

        &_position_right {
          max-width: 50%;
          text-align: center;
          float: right;
          right: 0;
        }

        &__price {
          font-weight: bold;
        }
      }
    }
  }

  &_state_description {
    @include description-positioning();

    &:hover {
      opacity: 1;
    }

    .item {
      &-info {
        @include description-info-style();
        top: 18%;

        &_position_top {
          @include description-info-style();
          top: 11%;
        }

        &_position_bottom {
          @include description-info-style();
          bottom: 30%;
        }

        &_position_left {
          @include description-info-style();
          max-width: 28%;
          top: 18%;
          left: 25%;
        }

        &_position_right {
          @include description-info-style();
          top: 18%;
          left: 73%;
        }

        &_position_middle {
          @include description-info-style();
          bottom: 25%;
          left: 40%;
        }

        &__price {
          font-weight: bold;
        }
      }
    }
  }

}

.add-to-cart {
  position: absolute;

  &__button {
    @include button();
  }

  &__additional {
    @include additional-info();
  }

  &_position_top {
    top: 40%;
    right: 10%;
    left: 10%;
  }

  &_position_bottom {
    bottom: 12%;
    right: 10%;
    left: 10%;
  }

  &_position_left {
    left: 5%;
    right: 55%;
    bottom: 12%;
  }

  &_position_right {
    right: 5%;
    left: 55%;
    bottom: 12%;
  }
}

