body 
    background-color: #fff;
    position: relative;
    font-family: 'Karla', sans-serif;
    
hr
	width: 80px;
	text-align: center;    


.container 
	display: block;
	position: relative;
	width: 1148px;
	margin: 0 auto;

	&-1
		height: 861px;

		&__1_cover

			float: left;
			width: 554px;
			height: 272px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;

			&:hover

				.container-1__1_cover
					display: none;

				.container-1__1_hover
					display: block;

		&__1_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 272px;


		&__2_cover

			float: left;
			width: 272px;
			height: 272px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;

			&:hover

				.container-1__2_cover
					display: none;

				.container-1__2_hover
					display: block;

		&__2_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 272px;			

		&__3_cover

			float: right;
			width: 272px;
			height: 554px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;

			&:hover

				.container-1__3_cover
					display: none;

				.container-1__3_hover
					display: block;

		&__3_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 554px;

		&__4_cover

			float: left;
			width: 272px;
			height: 272px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;	

			&:hover

				.container-1__4_cover
					display: none;

				.container-1__4_hover
					display: block;

		&__4_hover
		
			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 272px;	

		&__5_cover

			float: left;
			width: 554px;
			height: 554px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;	

			&:hover

				.container-1__5_cover
					display: none;

				.container-1__5_hover
					display: block;

		&__5_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 554px;

		&__6_cover

			float: right;
			width: 272px;
			height: 272px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;	

			&:hover

				.container-1__6_cover
					display: none;

				.container-1__6_hover
					display: block;

		&__6_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 272px;

		&__7_cover

			width: 272px;
			height: 272px;
			margin-top: 574px;
			margin-left: 10px;
			margin-right: 10px;
			position: absolute;

			&:hover

				.container-1__7_cover
					display: none;

				.container-1__7_hover
					display: block;

		&__7_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 272px;
			height: 272px;			

	&-2
		height: 574px;

		&__8_cover
			float: left;
			width: 554px;
			height: 272px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;	

			&:hover

				.container-2__8_cover
					display: none;

				.container-2__8_hover
					display: block;

		&__8_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 272px;

		&__9_cover

			width: 554px;
			height: 272px;
			margin-top: 291px;
			margin-left: 10px;
			margin-right: 10px;
			position: absolute;

			&:hover

				.container-2__9_cover
					display: none;

				.container-2__9_hover
					display: block;

		&__9_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 272px;


		&__10_cover
			float: right;
			width: 554px;
			height: 554px;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;	

			&:hover

				.container-2__10_cover
					display: none;

				.container-2__10_hover
					display: block;

		&__10_hover

			box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
			display: none;
			width: 554px;
			height: 554px;

.item 
	
	&__image

		display: inline-block;
		width: 270px;

	&__description

		display: inline-block;

		&_sale
			color: red;

	&__button-add

		text-align: center;
		position: relative;

	&__see-more

		text-align: center;
		text-decoration: none;
		position: relative;
		text-decoration: none;


.button_style 
	color: #000;
	font-size: 15px;
	background: #fff;
	padding: 10px 20px 10px 20px;
	border: solid #000 1px;
		




