@import url(normalize.css);

.grid {

}

.layout {
    width: 1148px;
    height: 1435px;
    margin: 0 auto;
    background-image: url('../img/project.jpg');
    opacity: 0.5;

}

.container {
    width: 100%;
    height: 100%;
    padding: 15px;

}

.top-part-left-part {

}

.top-part-left-part-top-left {
    width: 554px;
    height: 272px;
    background-image: url('../img/item01.jpg');
}