body {
    background-color: #fff;
    position: relative;
    font-family: 'Karla', sans-serif;
}

hr {
	width: 80px;
	text-align: center;  
}

.container-1, .container-2 {
	display: block;
	position: relative;
	width: 1148px;
	margin: 0 auto;
}

.container-1 {
	height: 861px;
}

.container-2 {
	height: 574px;
}

/* item 1 */
.block__1 {
	float: left;
	width: 554px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
}

.block__1:hover .block__1_cover {
	display: none;
}
.block__1:hover .block__1_hover {
	display: block;
}
.block__1_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 554px;
	height: 272px;
}

/* item 2 */
.block__2 {
	float: left;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;
}
.block__2:hover .block__2_cover {
	display: none;
}
.block__2:hover .block__2_hover {
	display: block;
}
.block__2_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 272px;
	height: 272px;
}

/* item 3 */
.block__3 {
	float: right;
	width: 272px;
	height: 554px;
	margin-top: 10px;
	margin-right: 10px;
}
.block__3:hover .block__3_cover {
	display: none;
}
.block__3:hover .block__3_hover {
	display: block;
}
.block__3_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 272px;
	height: 554px;
}

/* item 4 */
.block__4 {
	float: left;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
	}
.block__4:hover .block__4_cover {
	display: none;
}
.block__4:hover .block__4_hover {
	display: block;
}
.block__4_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 272px;
	height: 272px;
}

/* item 5 */
.block__5 {
	float: left;
	width: 554px;
	height: 554px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
}
.block__5:hover .block__5_cover {
	display: none;
}
.block__5:hover .block__5_hover {
	display: block;
}
.block__5_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 554px;
	height: 554px;
}

/* item 6 */
.block__6 {
	float: right;
	width: 272px;
	height: 272px;
	margin-top: 10px;
	margin-right: 10px;
}
.block__6:hover .block__6_cover {
	display: none;
}
.block__6:hover .block__6_hover {
	display: block;
}
.block__6_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 272px;
	height: 272px;
}

/* item 7 */
.block__7 {
	width: 272px;
	height: 272px;
	margin-top: 574px;
	margin-left: 10px;
	margin-right: 5px;
	position: absolute;
}
.block__7:hover .block__7_cover {
	display: none;
}
.block__7:hover .block__7_hover {
	display: block;
}
.block__7_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 272px;
	height: 272px;
}

/* item 8 */
.block__8 {
	float: left;
	width: 554px;
	height: 272px;;
	margin-left: 10px;
}
.block__8:hover .block__8_cover {
	display: none;
}
.block__8:hover .block__8_hover {
	display: block;
}
.block__8_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 554px;
	height: 272px;
}

/* item 9 */
.block__9 {
	float: right;
	width: 554px;
	height: 554px;
	margin-right: 10px;
}
.block__9:hover .block__9_cover {
	display: none;
}
.block__9:hover .block__9_hover {
	display: block;
}
.block__9_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 554px;
	height: 554px;
}

/* item 10 */
.block__10 {
	width: 554px;
	height: 272px;
	margin-top: 284px;
	margin-left: 10px;
	position: absolute;
}
.block__10:hover .block__10_cover {
	display: none;
}
.block__10:hover .block__10_hover {
	display: block;
}
.block__10_hover {
	box-shadow: 2px 4px 18px 1px rgba(0,0,0,0.39);
	display: none;
	width: 554px;
	height: 272px;
}

/* div hover */
.item {
	width: 270px;
	height: 270px;
	position: relative;
	margin: 0 auto;
}

.item__image {
	float: left;	
	width: 48%;
	height: 160px;
}
.item__description {
	float: right;
	width: 48%;
	height: 160px;
}

.item__description_sale {
	color: #f00;
}
.item__button-add {
	text-align: center;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}
.item__see-more {
  	text-align: center;
  	text-decoration: none;
  	position: relative;
}

.button_style {
 	color: #000;
 	font-size: 15px;
 	background: #fff;
  	padding: 10px 20px 10px 20px;
  	border: solid #000 1px;
}

/* special div hover item 5,9 */

.item_9 {
	top: 30%;
}

.item__image_5, .item__image_9, .item__image_10 {
	margin-left: -50px;
}

.item__button-add_9, .item__see-more_9 {
	top: 30px;
}

/* Product Specification */

.product__specification {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	height: 80px;
	color: #fff;
	top: 201px;
	width: 272px;
	text-align: right;
	font-size: 15px;
}

.product__specification_item-1 {
	width: 554px;
}

.product__specification_item-3, .product__specification_item-4 {
	top: 484px;	
}

.product__specification_item-5 {
	top: 765px;
	width: 554px;	
}

.product__specification_item-6 {
	top: 765px;
}

.product__specification_item-7 {
	top: 192px;
	width: 272px;	
}

.product__specification_item-8, .product__specification_item-10 {
	top: 192px;
	width: 554px;
}

.product__specification_item-9 {
	top: 474px;
	width: 554px;
}

.product__specification_left {
	position: relative;
	float: left;
}

.product__specification_right {
	position: relative;
	float: right;	
}

