@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(normalize.css);

body {
    font-family: 'Roboto', sans-serif;
}

p { margin: 0; }

.clearfix { clear: both; }


.layout {
    width: 1150px;
    height: 1435px;
    position: absolute;
    background: url('../img/project_hovered.jpg') no-repeat;
    opacity: 0.5;
    margin: 0 100px;
    display: none;
}

.item-gallery {
    width: 1128px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 0 1px red;
    opacity: 10.5;
}


[class*='column-'] {
    float: left;
    padding: 0;
    position: relative;
}

.column-1-4 {
    width: 272px;
    margin: 5px;
}

.column-2-4 {
    width: 554px;
    margin: 5px;
}

.column-3 { width: 846px; }

.column-4 { width: 1128px; }

.right { float: right; }

.top { margin-top: -277px; }

/*[class*='container'] {
    float: left;
    position: relative;
    overflow: hidden;
    transition: 300ms ease;
}

[class*='container']:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}*/

.item-cover {
    position: relative;
}

.item-cover-image {
    display: block;
}

.item-cover-info {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 72px;
    background: rgba(0, 0, 0, 0.5);
}

.item-cover-info__name {
    padding: 9px 0 0 30px;
    font-size: 12px;
    font-style: italic;
    color: white;
}

.item-cover-info__price {
    padding: 0 0 0 28px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.item-cover-info__price_align-right {
    padding: 0 30px 0 0;
    color: white;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.item-undercover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    opacity: 10; /* show/hide item content for testing*/
    transition: 400ms ease;

}

.item-undercover:hover {
    opacity: 100;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.item-content {
    position: relative;
    float: left;
    width: 272px;
    height: 272px;
}

.item-content_x2y1 {
    width: 554px;
}

.item-content_x1y2 {
    height: 554px;
}

.item-content_x2y2 {
    width: 554px;
    height: 554px;
}

.item-content_bottom {
    height: 282px;
 }

.item-content_bottom:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 12%;
    width: 76%;
    border-bottom: 1px solid #cccccc;
}

.item-content_left {

}

.item-content_left:before {
    content: "";
    position: absolute;
    top: 25%;
    left: 5px;
    height: 50%;
    border-left: 1px solid #cccccc;

}


.item-content-info_narrow {
    width: 300px;
    margin: 0 auto;
}

.item-content-info_wide {
    width: 65%;
    margin: 43px auto 0;
}

.item-content-info {
    width: 90%;
    margin: 48px auto 0;
}

.item-content-info__image {
    float: left;
    margin: 5px 13% 0 0;
}

.item-content-info__image_position_center {
    float: none;
    margin: 150px auto 0;
    display: block;
}

.item-content-info__price {
    font-size: 12px;
    letter-spacing: 0.4px;
}

.item-content-info__sale {
    color: #c91000;
    font-size: 18px;
}

.item-content-info__name {
    font-size: 16px;
    text-overflow: ellipsis;
    letter-spacing: 0.1px;
}

.item-content-info-button-holder {
    position: absolute;
    bottom: 28px;
    width: 100%;
}

.item-content-info__button {
    margin: 0 auto;
    width: 180px;
    height: 30px;
    display: block;
    border: 1px solid #999999;
    padding: 0 0 0 45px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #000000;
    background: url('../img/button-arrow.png') no-repeat 181px 12px;
    transition: background-position 250ms ease;
}

.item-content-info__button:hover {
    background-position: 191px 12px;
}

.item-content-info__link {
    margin: 7px auto 0;
    width: 55px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    letter-spacing: 0.8px;
    transition: color 200ms ease;
}

.item-content-info__link:hover {
    color: #c91000;
}




