<div class="basket-container-item">
    <img src="{{image}}" alt="" class="basket-container-item__image"/>

    <div class="basket-container-item-details">
        <div class="basket-container-item-details__title">{{name}}</div>
        <input class="basket-container-item-details__quantity" type="number"min="1" value="{{quantity}}"/>
        <span class="basket-container-item-details__price">x ${{price}}</span>
    </div>

    <div class="basket-container-item__remove">x</div>
</div>