$size = 275px

.b-product-container
  margin: 5px
  float: left
  background: #000

  &_height_one
    height: $size

  &_height_two
    height: $size*2+10px

  &_width_one
    width: $size

  &_width_two
    width: $size*2+10px

  &_float_right
    float: right

  &_neg-margin_one
    margin-top: -280px