/* description */

.b-product-front-details
  position: absolute
  left: 0
  right: 0
  bottom: 0
  height: 70px
  background: rgba(0,0,0,0.2)

  &__text
    margin-top: 10px
    padding-left: 10px
    color: white
    font-style: italic

    &_align_center
      width: 275px
      float: left
      text-align: center
      padding-left: 0

    &_align_right
      text-align: right
      padding-right: 10px