.button {
  position: absolute;
  bottom: 28px;
  width: 100%;

  &__add-to-cart {
    margin: 0 auto;
    width: 180px;
    height: 30px;
    display: block;
    border: 1px solid #999;
    padding: 0 0 0 45px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #000;
    background: url("../img/button-arrow.png") no-repeat 181px 12px;
    transition: background-position 250ms ease;

    &:hover {
      background-position: 191px 12px;
    }
  }

  &__more-link {
    margin: 7px auto 0;
    width: 55px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    letter-spacing: 0.8px;
    transition: color 200ms ease;

    &:hover {
      color: #c91000;
    }
  }

}