/* description */

.description
  position: absolute
  left: 0
  right: 0
  bottom: 5px
  height: 70px
  background: rgba(0,0,0,0.2)

  &__item
    margin-top: 10px
    padding-left: 10px
    color: white
    font-style: italic

    &_center
      width: 275px
      float: left
      text-align: center
      padding-left: 0

    &_right
      text-align: right
      padding-right: 10px