@import "variables.styl";

.grid {
  width: ($cell-size * 4) + ($cell-side-margin * 2) * 4;
  padding: 10px;
  margin: 0 auto;
  /*box-shadow: 0 0 0 1px red;
  opacity: 0.5; */
}


/* generate selectors for needed amount of cells */
.cell
  for num in 2..4
    &_width_{num}-4
      width: $cell-size*num + $cell-side-margin*num


.cell {
  float: left;
  margin: $cell-side-margin;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 3px 1px #ccc;
  }

  &_width_1-4 {
    width: $cell-size;
  }

  &_height_1-2 {
    height: $cell-size;
  }

  &_height_2-2 {
    height: $cell-size*2 + $cell-side-margin*2;
  }

  &_right {
    float: right;
  }

  &_level-up {
    margin-top: -($cell-size + $cell-side-margin);
  }
}
