.grid {
  width: 1128px;
  padding: 10px;
  margin: 0 auto;
  /*box-shadow: 0 0 0 1px red;
  opacity: 0.5; */
}

.cell {
  float: left;
  margin: 5px;
  position: relative;

  &_width_1-4 {
    width: 272px;
  }

  &_width_2-4 {
    width: 554px;
  }

  &_width_3-4 {
    width: 846px;
  }

  &_width_4-4 {
    width: 1128px;
  }

  &_height_1-2 {
    height: 272px;
  }

  &_height_2-2 {
    height: 554px;
  }

  &_right {
    float: right;
  }

  &_level-up {
    margin-top: -277px;
  }
}