/* item */

.item
  position: relative
  cursor: pointer

  &:hover
    .item__view
      visibility: visible
      opacity: 1


.item__view
  visibility: hidden
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: white
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2)
  opacity: 0
  transition: opacity 0.2s