$size = 275px

.items-grid

  &__item
    margin: 5px
    float: left
    background: #000

.h1
  height: $size

.h2
  height: $size*2+10px

.h3
  height: $size*3+20px

.w1
  width: $size

.w2
  width: $size*2+10px

.w3
  width: $size*3+20px

.right
  float: right

.t1
  margin-top: -280px