/* Items conrainer style*/

.items-container {
  width:1128px;
  margin: 0 auto;
  &__item {
    float: left;
    cursor: pointer;
    &:hover {
      .hover-info {
      visibility: visible;
      opacity: 1;
      }
    }
  }
}

.arrow {
  float: right;
  color:  #ff0000;
  font-weight: bold;
  padding-right: 10px
}

.line-y{
  float: left;
  padding-left: 5px;
  &:after{
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 280px;
  border-left: 1px solid #ccc;
  }
}
// divider line between item by x
.line-x:after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  top: 280px;
  border-top: 1px solid #ccc;
}

// wight image; hover
.items-neighbour-heigh{
  margin-left: 132px;
  display: block;
}
//  big image; hover
.items-neighbour-big {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  .hover-info__precart__item-info {
    padding-left: 60px;
  }
  .hover-info__precart__item-info_title {
    margin-left: 0px;
  }
  .hover-info__precart_image {
    float: none;
    padding-top: 80px;
  }
}
