.product {

  &-container {
    position: relative;
    float: left;
    width: $cell-size;
    height: $cell-size;
    background-color: $white;

    &_wide {
      width: $cell-size * 2 + $cell-side-margin * 2;
    }

    &_high {
      height: $cell-size * 2 + $cell-side-margin * 2;
    }

    &_bottom {
      padding-top: 10px;
      &:before {
        content: "";
        position: absolute;
        top: $cell-side-margin;
        left: 12%;
        width: 76%;
        border-bottom: 1px solid $grey;
      }
    }

    &_left {
      padding-left: 10px;

      &:before {
        content: "";
        position: absolute;
        top: 25%;
        left: $cell-side-margin;
        height: 50%;
        border-left: 1px solid $grey;
      }
    }
  }

  &-content {

    &-visual {
      margin-top: 43px;
      width: 50%;
      float: left;

      &__image {
        float: right;
        padding-right: 10px;
      }

      &__image_position_center {
        float: none;
        margin: 150px auto 0;
        display: block;
      }
    }

    &-text {
      margin-top: 43px;
      width: 50%;
      float: right;

      &__price {
        font-size: 12px;
        letter-spacing: 0.4px;
      }

      &__sale {
        color: $red;
        font-size: 18px;
      }

      &__name {
        max-width: 175px;
        font-size: 16px;
        letter-spacing: 0.1px;
      }
    }

    &_big-image {
      width: 40%;
      margin: 0 auto;
    }

    &-ellipsis {
      width: 140px;
      height: 40px;
      overflow: hidden;

      &:before {
        content: "";
        float: left;
        width: 5px;
        height: 40px;
      }

      &:after {
        content: "\02026";
        float: right;
        position: relative;
        top: -21px;
        left: 96%;
        width: 30px;
        margin-left: -30px;
        padding-right: 5px;
        text-align: right;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.5), $white 25%, $white);
      }

      &-text {
        float: right;
        width: 100%;
        margin-left: -5px;
      }
    }
  }
}