@import ("includes.styl");

.product-container {
  position: relative;
  float: left;
  width: $cell-size;
  height: $cell-size;

  &_wide {
    width: $cell-size * 2 + $cell-side-margin * 2;
  }

  &_high {
    height: $cell-size * 2 + $cell-side-margin * 2;
  }

  &_bottom {
    padding-top: 10px;
    &:before {
      content: "";
      position: absolute;
      top: $cell-side-margin;
      left: 12%;
      width: 76%;
      border-bottom: 1px solid #ccc;
    }
  }

  &_left {
    padding-left: 10px;

    &:before {
      content: "";
      position: absolute;
      top: 25%;
      left: $cell-side-margin;
      height: 50%;
      border-left: 1px solid #ccc;
    }
  }
}
