@import "variables.styl";

.switcher {
  overflow: hidden;

  &-cover {
    position: relative;

    &__image {
      display: block;
    }

    &-info__outer {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 72px;
      background: rgba(0, 0, 0, 0.5);
    }

    &-info {
      float: left;
      width: 230px;
      margin: 10px 0 0 20px;
    }

    &-info_left {
      text-align: left;
      margin-left: 30px;
    }

    &-info_right {
      float: right;
      margin-right: 30px;
      text-align: right;
    }

    &-info_center {
      text-align: center;
    }

    &-info__name {
      font-size: 14px;
      line-height: 1;
      font-style: italic;
      color: #fff;
    }

    &-info__price {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }

    &-info__price_old {
      text-decoration: line-through;
      font-style: italic;
      font-weight: normal;
    }
  }

  &-undercover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 400ms ease;

    &:hover {
      opacity: 1;
    }
  }

}


/*
  SLIDER MODIFIER for switcher block.
  Another way to make product-container appear
  Yes, we hate cascade, but didn't want to change upper css rules
*/

.switcher_slider .switcher-undercover { /* slider works only if _slide modifier is attached */
  position: absolute;
  top: 0;
  left: 0;
  transition: padding-top 200ms ease;
  opacity: 1;
  padding-top: $cell-size * 2 + $cell-side-margin * 2; /* multiple by 2 for high cells */

  &:hover {
    padding-top: 0;
  }
}