@import "variables.styl";

.switcher {
  overflow: hidden;

  &-cover {
    position: relative;

    &__image {
      display: block;
    }

    &-info__outer {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 72px;
      background: rgba(0, 0, 0, 0.5);
    }

    &-info {
      float: left;
      width: 230px;
      margin: 10px 0 0 20px;
    }

    &-info_left {
      text-align: left;
      margin-left: 30px;
    }

    &-info_right {
      float: right;
      margin-right: 30px;
      text-align: right;
    }

    &-info_center {
      text-align: center;
    }

    &-info__name {
      font-size: 14px;
      line-height: 1;
      font-style: italic;
      color: #fff;
    }

    &-info__price {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }

    &-info__price_old {
      text-decoration: line-through;
      font-style: italic;
      font-weight: normal;
    }
  }

  &-undercover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 400ms ease;

    &:hover {
      opacity: 1;
      /*box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);*/
    }
  }

}


/* another way to make product-container appear - slider */

.switcher_slide .switcher-undercover {
  position: absolute;
  top: 0;
  left: 0;
  height: $cell-size * 2;
  transition: top 200ms ease;
  opacity: 1;

  &:hover {
    top: -($cell-size);
  }

  & > div {
    top: $cell-size;
  }
}