{{#each items}}
<div class="about-blognews-item">
    <div class="about-blognews-item__date">
        {{date}}
    </div>
    <h2 class="about-blognews-item__title"> {{title}} </h2>
    <div class="about-blognews-item__description"> {{excerpt}} </div>
</div>
{{/each}}