{{#each items}}
<div class="about-block-item">
    <div class="about-block-item__date">
        {{date}}
    </div>
    <h2 class="about-block-item__title"> {{title}} </h2>
    <div class="about-block-item__description"> {{excerpt}} </div>
</div>
{{/each}}