
<div class="product-page-main-info-container">
    <div class="product-page-gallery">
        <div class="product-page-gallery-thumblist-outer">
            <span class="product-page-gallery-thumblist-arrow product-page-gallery-thumblist-arrow_up"></span>

            <ul class="product-page-gallery-thumblist">
                <li class="product-page-gallery-thumblist-item">
                    <img class="product-page-gallery-thumblist-item-image" src="img/product-page/loub_01_small.jpg" alt=""/>
                </li>
            </ul>

            <span class="product-page-gallery-thumblist-arrow product-page-gallery-thumblist-arrow_down"></span>
        </div>

        <div class="product-page-gallery-big-image">
            <img class="product-page-gallery-big-image-img" src="img/product-page/loub_01_large.jpg">
        </div>
    </div>



    <h1 class="product-page__title">Buffulo decolette Thorns</h1>

    <div class="product-page__price">$174.99</div>

    <div class="product-page-actions">
        <input class="product-page-actions__buy" type="submit" value="buy now"/>
        <span class="product-page-actions__login">Login to save in wishlist</span>
    </div>

    <p class="product-page-predescription">It is a long established fact that a reader will be distracted by the readable contentContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from of a page when looking at its layout.</p>

    <div class="product-page-share">
        <div class="product-page-share__title">Share product:</div>
    </div>

</div>

<div class="product-page-additional-info-container">

    <p class="product-page-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <div class="product-page-full-info">
        <div class="product-page-full-info-tabs">

        </div>
        <div class="product-page-full-info-content">

        </div>
    </div>

</div>