include ./includes/product-block-mixin.jade
doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= 'ninJS-shop'
        link(href='css/styles.css' rel='stylesheet' media)
        link(href='css/normalize.css' rel='stylesheet')
    body.l-page
        .b-product-wrapper
            for product in data
                +product-block(product)



