.sale-price {
  font-size: 18px;
  color: #ff0000;
}

.old-price {
  text-decoration: line-through;
}

body {
  width: 4*$block-size + 60;
  margin: 0 auto;
}

.item {
  position: relative;
  margin:  8px;
  display: inline-block;

  @for $i from 1 through 2 {
    @for $j from 1 through 2 {
      &_h#{$i}w#{$j} {
        @if $j > 1 {width: #{$block-size*$j + 10};}
        @else {width: #{$block-size*$j};}
        @if $i > 1 {height: #{$block-size*$i + 10};}
        @else {height: #{$block-size*$i};}


      }
    }
  }

  &_state_preview {
    opacity: 1;
    .item {
      &-info {
        @include default-preview-info();

        &_position_left {
          max-width: 40%;
          text-align: center;
          float: left;
        }

        &_position_right {
          max-width: 50%;
          text-align: center;
          float: right;
          right: 0;
        }

        &__price {
          font-weight: bold;
        }
      }
    }
  }

  &_state_description {
    @include description-positioning();

    &:hover {
      opacity: 1;
    }

    .item {
      &-info {
        @include description-info-style();
        top: 18%;

        &_position_top {
          @include description-info-style();
          top: 11%;
        }

        &_position_bottom {
          @include description-info-style();
          bottom: 30%;
        }

        &_position_left {
          @include description-info-style();
          max-width: 28%;
          top: 18%;
          left: 25%;
        }

        &_position_right {
          @include description-info-style();
          top: 18%;
          left: 73%;
        }

        &_position_middle {
          @include description-info-style();
          bottom: 25%;
          left: 40%;
        }

        &__price {
          font-weight: bold;
        }
      }
    }
  }

}

.add-to-cart {
  position: absolute;

  &__button {
    @include button();
  }

  &__additional {
    @include additional-info();
  }

  &_position_top {
    top: 40%;
    right: 10%;
    left: 10%;
  }

  &_position_bottom {
    bottom: 12%;
    right: 10%;
    left: 10%;
  }

  &_position_left {
    left: 5%;
    right: 55%;
    bottom: 12%;
  }

  &_position_right {
    right: 5%;
    left: 55%;
    bottom: 12%;
  }
}

