@import "variables/variables.scss";
@import "mixins/mixins.scss";

.sale-price {
  font-size: 18px;
  color: $sale-color;
}

.old-price {
  text-decoration: line-through;
}

body {
  width: 4*$block-size + 60;
  margin: 0 auto;
}

.arrow {
	float: right;
}