for i in 1 2
  $_size = $base-size * i + 10px * i - 10px
  .b-product-container_width_{i}
    width $_size
  .b-product-container_height_{i}
    height $_size

.b-product-container
  position relative
  cursor pointer
  margin 5px
  background #000

  &_float
    &_left
      float left
    &_right
      float right

  &_neg-margin_1
    @media screen and (min-width 768px)
      margin-top -5px - $base-size

  &:hover
    .b-product-container-back
      visibility visible
      opacity 1

  &-front
    &__image
      width 100%
      height 100%
      display block

    &-details
      absolute(auto)
      height 70px
      overflow: hidden
      background rgba(0,0,0,0.2)

      &-text
        margin-top 10px
        padding-left 10px
        height 60px
        color white
        font-style italic

        &_align_center
          width 275px
          float left
          text-align center
          padding-left 0

        &_align_right
          text-align right
          padding-right 10px

        &__price
          &_old
            text-decoration line-through

  &-back
    visibility hidden
    absolute()
    background white
    box-shadow 1px 1px 5px rgba(0,0,0,0.2)
    opacity 0
    transition opacity 0.2s

    &_sibling_horizontal

      >*
        float left
        padding-left 5px

      &:before
        content ""
        absolute(20px,auto,20px,280px)
        border-left 1px solid #ccc

    &_sibling_vertical

      &:before
        content ""
        absolute(280px,20px,auto,20px)
        border-top 1px solid #ccc

    &-instance
      position relative
      padding-top 40px
      width 275px
      height 245px
      margin 0 auto

      &__image
        float left

      &__price
        font-size 0.8em

        &_sale
          font-size 1.2em
          color $colors-red

      &-button
        display block
        absolute(auto,0,50px,0)
        width 150px
        height 30px
        padding-left 40px
        padding-right 40px
        margin 0 auto
        border 1px solid
        line-height 30px

        &:hover
          background $colors-red
          color #fff
          border-color #fff

          .b-arrow
            color #fff

      &__more
        absolute(auto,0,20px,0)
        display block
        text-align center
        font-size 0.8em
        line-height 30px

        &:hover
          color $colors-red

      &_big_yes
        height 520px

        .b-product-container-back-instance__image
          float none
          margin-top 100px
          margin-left 50px

        .b-product-container-back-instance__price
          margin-left 30px

        .b-product-container-back-instance__title
          margin-left 30px