.b-product-container-back-instance
  position relative
  padding-top 40px
  width 275px
  height 245px
  margin 0 auto

  &__image
    float left

  &__price
    font-size 0.8em

    &_sale
      font-size 1.2em
      color $colors-red

  &__button
    position absolute
    display block
    width 150px
    height 30px
    left 0
    right 0
    bottom 50px
    padding-left 40px
    padding-right 40px
    margin 0 auto
    border 1px solid
    line-height 30px

    &:hover
      background $colors-red
      color #fff
      border-color #fff

      .b-arrow
        color #fff

  &__more
    position absolute
    left 0
    right 0
    bottom 20px
    display block
    text-align center
    font-size 0.8em
    line-height 30px

    &:hover
      color $colors-red

  &_sibling_horizontal
    float left
    padding-left 5px

    &:after
      content ""
      position absolute
      top 20px
      bottom 20px
      left 280px
      border-left 1px solid #ccc

  &_sibling_vertical

    &:after
      content ""
      position absolute
      left 20px
      right 20px
      top 280px
      border-top 1px solid #ccc

  &_big_yes
    height 520px

    .b-product-container-back-instance__image
      float none
      margin-top 100px
      margin-left 50px

    .b-product-container-back-instance__price
      margin-left 30px

    .b-product-container-back-instance__title
      margin-left 30px