.b-cell
  position relative
  margin $cellMargin
  float left

// Modifiers
// b-cell
.right
  float right

.shiftTop
  margin-top 0 - $cellMargin - $cellSize

for i in 1 2
  $_size = $cellSize * i + 2 * $cellMargin * (i - 1)
  .width_{i}
    width $_size
  .height_{i}
    height $_size