.b-cell
  position relative
  cursor pointer
  margin $cellMargin
  float left
  font-family: $fontLato

  &:hover
    .b-cell-rollover
      visibility visible
      opacity 1

  &-cover
    height 100%
    overflow hidden

    &__image
      min-width 100%
      min-height 100%
      display block

    &-details
      position-absolute(auto)
      height 70px
      overflow: hidden
      background rgba(0,0,0,0.2)

      &-text
        margin-top 10px
        padding-left 10px
        height 60px
        color white
        font-style italic

        &_align
          &_center
            width 275px
            float left
            text-align center
            padding-left 0

          &_right
            text-align right
            padding-right 10px

        &__price
          &_old
            text-decoration line-through

  &-rollover
    visibility hidden
    position-absolute()
    background #fff
    box-shadow 1px 1px 5px rgba(0,0,0,0.2)
    opacity 0
    transition opacity 0.2s

    &-item
      item($cellSize,$cellSize - 30px,relative,left,0)
      padding-top 40px
      margin 0 auto

      &__price
        font-size 0.8em

        &_sale
          font-size $fontMedium
          color $colorRed

      &__button
        position-absolute(auto,0,50px,0)
        button()
        margin 0 auto


      &__more
        position-absolute(auto,0,20px,0)
        display block
        text-align center
        font-size $fontSmall
        line-height 30px

        &:hover
          color $colorRed


// Modifiers
// b-cell
.right
  float right

.shiftTop
  margin-top 0 - $cellMargin - $cellSize

for i in 1 2
  $_size = $cellSize * i + 2 * $cellMargin * (i - 1)
  .width_{i}
    width $_size
  .height_{i}
    height $_size


// b-cell-rollover
.items-narrow
  >*
    float left
    padding-left $cellMargin

  &:before
    content ""
    position-absolute(20px,auto,20px,$cellSize + $cellMargin)
    border-left 1px solid $colorGrey


.height_2
  .b-cell-rollover
    &:before
      content ""
      border none

    .b-cell-rollover-item
      item($cellSize * 0.55,$cellSize * 2 - 30px,initial,none,$cellSize * 0.35)

  .items-wide
    &:before
      content ""
      position-absolute($cellSize + $cellMargin,20px,auto,20px)
      border-top 1px solid $colorGrey

    .b-cell-rollover-item
      item($cellSize,$cellSize - 30px,relative,left,0)