.products {

  &-header {
    height: 80px;

    &__title {
      float: left;
      font-size: 26px;
      line-height: 80px;
    }

    &__action {
      width: 100px;
      float: right;
      margin-top: 25px;
      border: 1px solid darken($creamy, 20%);
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      color: darken($creamy, 20%);
      cursor: pointer;
    }
  }

  &-container {
    margin: 0 0 0 -30px;
    padding: 0;
    list-style-type: none;

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }
}

.product {
  &-item {
    width: 300px;
    height: 270px;
    margin: 0 0 30px 30px;
    position: relative;
    float: left;
    text-align: center;
    background-color: $white;

    &__image {
      margin-top: 10px;
    }

    &-info {
      width: 100%;
      height: 50px;
      position: absolute;
      bottom: 0;
      border-top: 1px solid $grey;
      background: $white;

      &__price {
        min-width: 25%;
        max-width: 30%;
        height: 70px;
        padding: 0 5px;
        box-sizing: border-box;
        position: relative;
        bottom: 20px;
        left: 5%;
        float: left;
        font-size: 14px;
        text-align: center;
        line-height: 70px;
        font-weight: bold;
        background-color: $green;
        color: $white;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 2;
      }

      &__name {
        width: 70%;
        float: right;
        line-height: 50px;
        font-size: 18px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &_on-sale {
      &:after {
        content: "on sale";
        display: block;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 14px;
        line-height: 70px;
        text-transform: uppercase;
        color: $white;
        background-color: $black;
      }
    }

    &_out-of-stock {
      &:after {
        content: "out of stock";
        display: block;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 14px;
        text-transform: uppercase;
        color: $white;
        background-color: #f27e4b;
        padding-top: 19px;
        box-sizing: border-box;
      }
    }
  }
}