.top__unit
		&_cover 
			background-image: url('../img/top_unit/bg.png')
			background-size: 100%
			
		&_menu
			background-color: #2e2e2e

.cover
	&__grid 
		width: 960px
		display: block
		position: relative
		height: 400px
		margin: 0 auto
		font-family: sans-serif
		font-color: #242424
		
		&_left-side
			width: 50%
			height: 100%
			float: left
				
		&_right-side
			width: 50%
			height: 100%
			float: right 
			margin-right: -8%
		
	&__content
		margin-right: 50%
		margin-top: 7%
		
.price
	width: 75px
	height: 75px
	
	&__background
		background-color: #57c5a0
		
	&__title
		color: white
		text-align: center
		padding-top: 30px
		
.action-menu
	display: inline-block
	position: relative
	cursor: pointer
	
	&__icon
		background-color: #faf9f9
		width: 40px
		height: 40px
		margin-left: 1px
		
		&:hover
			box-shadow: 0 0 1px 1px #57c5a0

.menu__grid
	margin: 0 auto
	width: 100%
	background-color: #2e2e2e
	display: flex
	position: relative
		

.menu-block
	width: 960px
	height: 100%
	margin: 0 auto
	cursor: pointer
	
	&__item
		margin-top: 0.3%
		display: inline-block
		position: relative
		width: 188px
		
		&_top
			height: 15%
			margin-top: 2%
			border: 6px solid #000

		&_bottom
			color: #aaaaaa
			text-align: center
			font-size: 11px
				
.menu-block__item:hover > .menu-block__item_top
	border: 5px solid #57c5a0

.menu-block__item:hover > .menu-block__item_bottom
	color: #ffffff
	
@media screen and (max-width: 800px) {
	.cover__grid_right-side {
		position:absolute
		margin-left: 10%
	}
	.menu-block__item {
		margin-left: 10%
	}
}