$box-shadow = 2px 4px 18px 1px rgba(0,0,0,0.39);

.product__hover
	box-shadow: $box-shadow
	display: none
	
.product:hover .product__cover 
	display:none
.product:hover .product__hover
	display:block



	